   
<nav class="navbar navbar-fixed-bottom navbar-default">
 <div class="containter">

  <% if brewer_signed_in? %>
     <div class="col-xs-4">
       <a>Send this to friends: <code><%= current_brewer.invite_address%></code></a>   
     </div><!--/ column-->
     <%end%>
     
     <div class="col-xs-4" style="text-align:center;">      
       
       <a>nusbrew &copy; 2014</a>
     
     </div><!--/ column-->
    <div class="col-xs-4">    
       <a>Updated 4-Feb-14</a>
     </div><!--/ column-->
   </div>
 </nav>