   
<nav class="navbar navbar-fixed-bottom navbar-default">
 <div class="containter">
  <% if brewer_signed_in? %>
     <div class="col-xs-4">
     
       <small>Send this to friends: <code><%= @current_brewer.invite_address%></code></small>   
     </div><!--/ column-->
     <%end%>

     
     <div class="col-xs-4" style="text-align:center;">      
       
       <small>nusbrew &copy; 2014</small>
     
     </div><!--/ column-->
    <div class="col-xs-4">    
       <small>Updated 4-Feb-14</small>
     </div><!--/ column-->
   </div>
 </nav>